@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* Header Section Styling */

.bg-headcarousel-color {
    background-color: #F26B0F;
}

.headcarousel-div2-margin {
    margin: 10px 0px 0px 0px;
}

.bg-header-color {
    background-color: #FCC737;
}

.nav-link:hover {
    cursor: pointer;
    color: #E73879;
    text-decoration: underline;
}

.head-icons > a {
    margin: 5px;
}





.card-group img {
    width: 100px;
    height: 180px;
}

.img-wrapper1 {

}


.sale-img {
    width: 80%;
    max-height: 70%;
    position: relative;
    top: 0rem;
    left: 10rem;
}

.card-size {
    max-width: 20vw;
    max-height: 60vh;
}

.bg-card2-color {
    background-color: #FFF574;
}

.bg-testimonial-color {
    background-color: #FFF574;
}

.bg-engine-color {
    background-color: #FFF574;
}

#cardCarousel2  a {
    cursor: pointer;
}

.bg-footer-color {
    background-color: #FCC737;
}

.category-section {
    margin-left: 10rem !important;
    margin-right: -3rem !important;
}

.about-section {
    margin-right: -3rem !important;
}

.cs-section {
    margin-right: -7rem !important;
}

.nav-item > a {
    color: black;
}




/* Interiors Section Styling */

.product {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}
.stars {
    color: #ffd700;
    font-size: 24px;
    cursor: pointer;
}
.price {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}
.availability {
    color: green;
    margin-bottom: 10px;
}
.quantity {
    margin-bottom: 10px;
}
.quantity input {
    width: 50px;
    padding: 5px;
}
.order-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.order-button:hover {
    background-color: #45a049;
}